body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	padding: 0px;
	background: #f5f8fa;
	font-family: $primary-font;
	a {
		color: $color-primary;
		font-weight: 700;
	}
}
section.style-summary-wrap {
	width: 100%;
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 50px 150px;
	.style-tile {
		width: 24%;
		display: inline-block;
		position: relative;
		background: white;
		padding: 50px;
		border: 1px solid #cbd6e2;
		border-radius: 4px;
		transition: all 0.2s ease-in-out;
		box-shadow:
					0 2.8px 2.2px rgba(0, 0, 0, 0.008),
					0 6.7px 5.3px rgba(0, 0, 0, 0.012),
					0 12.5px 10px rgba(0, 0, 0, 0.015),
					0 22.3px 17.9px rgba(0, 0, 0, 0.018),
					0 41.8px 33.4px rgba(0, 0, 0, 0.022),
					0 100px 80px rgba(0, 0, 0, 0.03);
		&:hover {
			//background: #f5f8fa;
			border-bottom: 4px solid #ff7d5a;
			cursor: pointer;
		}
		.pcr-button {
			border-radius: 3px;
			height: 35px;
			width: 35px;
			border-radius: 100%;
			overflow: hidden;
			margin: 10px 0px;
			&:before {
				display: none;
			}
			&:hover {
				box-shadow: 0 0 0 5px hsla(0,0%,100%,1),0 0 0 7px currentColor;
			}
		}
		.index_styles {
			background: #f5f8fa;
			padding: 5px 15px;
			border-radius: 5px;
			margin-top: 10px;
		}
		.theme-item {
			margin-right: 9px;
			margin-bottom: 0px;
			display: inline-block;
			.theme-item__name {
				display: none;
			}
		}
		a {
			text-decoration: none;
			color: inherit;
		}
		p {
			color: #8A9DAB;
			font-family: "Nunito", sans-serif;
			font-size: 14px;
			line-height: 25px;
			font-weight: 300;
		}
		h2 {
			color: #3D495A;
			font-family: "Nunito", sans-serif;
			font-size: 25px;
			font-weight: 700;
			margin: 0px;
		}
		h3 {
			color: #3D495A;
			font-family: "Nunito", sans-serif;
			font-size: 15px;
			font-weight: 700;
			line-height: 10px;
			margin-top: 40px;
		}
	}
	.css-info {
		float: left;
		display: inline-block;
		width: 30%;
		.btn-primary {
			width: 50%;
			margin-top: 30px;
			display: block;
			transform: none;
			float: unset;
		}
		p {
			color: #8A9DAB;
			font-family: "Nunito", sans-serif;
			font-size: 14px;
			line-height: 25px;
			font-weight: 300;
		}
		h1 {
			color: #3D495A;
			font-family: "Nunito", sans-serif;
			font-size: 30px;
			font-weight: 700;
			line-height: 53px;
		}
		h2 {
			color: #3D495A;
			font-family: "Nunito", sans-serif;
			font-size: 19px;
			font-weight: 700;
			line-height: 10px;
			margin-top: 40px;
		}
	}
	.raw-css-wrapper {
		background: #ffffff;
		padding: 50px 100px;
		width: 30%;
		border: 1px solid #cbd6e2;
		border-radius: 4px;
		box-shadow: 3px 3px 9px rgba(203,214,226,.5);
		margin: 20px 0px 200px;
		height: 500px;
		overflow: hidden;
		display: inline-block;
		float: left;
		margin-right: 50px;
		.language-scss {
			overflow: scroll;
			height: 660px;
		}
	}
}