.btn-primary {
	border-radius: 3px;
	background-color: #8a9dac;
	padding: 15px 20px;
	color: #FFFFFF;
	font-family: Overpass;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	transition: background-color 0.3s ease;

	&:hover {
		background: darken( $button-color, 13% );
		cursor: pointer;
	}

	i {
		font-size:25px;
		color: white;
		text-align: center;
		line-height: 25px;
		vertical-align: middle;
		padding-right: 5px;
	}
}
.btn-secondary{
	border-radius: 100px;
	background-color: #ccd6e3;
	padding: 15px 30px;
	color: #FFFFFF;
	font-family: Overpass;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	transition: background-color 0.3s ease;

	&:hover {
		background: darken( $button-secondary-color, 5% );
		cursor: pointer;
	}

	i {
		font-size:25px;
		color: white;
		text-align: center;
		line-height: 25px;
		vertical-align: middle;
		padding-right: 5px;
	}
}
.btn-text {
	color: #8A9DAB;
	font-family: Overpass;
	font-size: 14px;
	line-height: 22px;
	transition: color 0.3s ease;
	text-decoration: none;

	i {
		vertical-align: middle;
		font-size: 18px;
		padding-right: 5px;
	}

	&:hover {
		color: darken( $icon-header-color, 10% );
		cursor: pointer;
	}
}
.btn-primary,
.btn-secondary {
	width: 49%;
	text-align: center;
	display: inline-block;
	padding: 20px 0px;
	border-radius: 3px;
	font-size: 16px;
	font-family: inherit;
}