span.css-tag {
	background-color: #f6f7f6;
	padding: 5px 15px;
	color: #8A9DAB;
	font-family: Overpass;
	font-size: 13px;
	font-weight: 600;
	line-height: 22px;
	text-align: center;
	border-radius: 4px;
	clear: both;
	margin-right: 2px;
	transition: all 0.3s ease-in-out;
	&:hover {
		background: #8a9dac;
		cursor: pointer;
		color: white;
	}
}
.css-wrapper {
	height: 500px;
	overflow: scroll;
	padding: 0px 20px;
	margin-top: 20px;
	::selection {
		background-color: cyan;
	}
}
