header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 65px;
	background-color: #3D495A;
}
.logo {
	width: 70px;
	transform: translateY(40%);
	margin-left: 40px;
}
.icons {
	float: right;
	//margin-right: 60px;

	a {
		text-decoration: none;
		color: #8A9DAB;
		transition: all 0.4s ease;
		background: transparent;
		display: inline-block;
		width: 65px;
		text-align: center;
		&.profile-pic {
			height: 30px;
			width: 30px;
			border-radius: 100px;
			overflow: hidden;
			float: right;
			margin-right: 30px;
			top: 20px;
			margin-top: 16px;
			img {
				width: 30px;
			}
		}

		&:hover {
			color: lighten( $icon-header-color, 20% );
			cursor: pointer;
			background:#313b4a ;
			border-radius: 5px;
		}
	}
		i {
			font-size:25px;
			margin: 0 auto;
			line-height: 63px;
			position: relative;
			text-align: center;
			transition: all 0.4s ease;
			transform: scale(1.0);
				.notification {
					height: 9px;
					width: 9px;
					border: 2px solid #3D495A;
					background-color: #50e3c2;
					z-index: 9999;
					position: absolute;
					top: 16px;
					left: 14px;
					border-radius: 100%;
				}
		}

	p {
		color: #8A9DAB;
		font-family: Overpass;
		font-size: 14px;
		text-align: right;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		transform: translateY(-50%);
		a {
			text-decoration: none;
			color: inherit;
			border-bottom: 2px solid #8A9DAB;
			padding-bottom: 5px;
		}
	}

}