.message-model-1 {
	display: none;
	background: white;
	border-radius: 3px;
	padding: 30px;
	border-left:5px solid #DFC4FB;
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 999;
	max-width: 410px;
	width: 25vw;
	padding-bottom: 40px;
	box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.05);

	h2 {
		color: #2E3B4E;
		font-family: $primary-font;
		font-size: 20px;
		font-weight: 600;
		line-height: 31px;
		margin: 0px;
	}
	p {
		color: #8A9DAB;
		font-family: $primary-font;
		font-size: 14px;
		line-height: 23px;
		margin-top: 0px;
		padding-bottom: 10px;
	}
	.close {
		position: absolute;
		top: 10px;
		right:10px;

		i {
			color: #8A9DAB;
			font-size:20px;
			transition: color 0.3s ease;

			&:hover {
				color: lighten( $icon-header-color, 20% );
				cursor: pointer;
			}
		}
	}
}
.message-model-two {
	display: none;
	background: white;
	border-radius: 3px;
	padding: 25px;
	padding-top: 30px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99;
	max-width: 320px;
	display: inline-block;
	float: right;
	box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.05);
	overflow: hidden;

	p {
		color: #8A9DAB;
		font-family: $primary-font;
		font-size: 14px;
		line-height: 20px;
		margin: 0px;
	}

	a {
		color: #847AFF;
		font-family: $primary-font;
		font-size: 14px;
		text-decoration: none;
		display: inline;

		&:hover {
			text-decoration: none;
			color: inherit;
			border-bottom: 2px solid #847AFF;
			padding-bottom: 5px;
			cursor: pointer;
			color: #847AFF;
			transition: border, opacity 0.3s ease;
		}
	}
	.ribbon {
		position: absolute;
		color: #847AFF;
		top: -5px;
	}
	.close {
		position: absolute;
		top: 10px;
		right:10px;

		i {
			color: #8A9DAB;
			font-size:20px;
			transition: color 0.3s ease;

			&:hover {
				color: lighten( $icon-header-color, 20% );
				cursor: pointer;
				border: none;
				text-decoration: none;
			}
		}
	}
}
.message-model-3 {
	display: none;
	background: white;
	border-radius: 3px;
	padding: 25px;
	padding-top: 30px;
	position: fixed;
	bottom: 30px;
	right: 410px;
	z-index: 99;
	max-width: 320px;
	display: inline-block;
	float: right;
	box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.05);
	overflow: hidden;
	margin-right: 10px;

	p {
		color: #8A9DAB;
		font-family: $primary-font;
		font-size: 14px;
		line-height: 20px;
		margin: 0px;
	}

	a {
		color: $love-red;
		font-family: $primary-font;
		font-size: 14px;
		text-decoration: none;
		display: inline;

		&:hover {
			text-decoration: none;
			color: inherit;
			border-bottom: 2px solid $love-red;
			padding-bottom: 5px;
			cursor: pointer;
			color: $love-red;
			transition: border, opacity 0.3s ease;
		}
	}
	.ribbon {
		position: absolute;
		color: $love-red;
		top: -5px;
	}
	.close {
		position: absolute;
		top: 10px;
		right:10px;

		i {
			color: #8A9DAB;
			font-size:20px;
			transition: color 0.3s ease;

			&:hover {
				color: lighten( $icon-header-color, 20% );
				cursor: pointer;
				border: none;
				text-decoration: none;
			}
		}
	}
}