.onboarding-overlay {
	background: rgba(49, 59, 74, 0.8);
	position: fixed;
	width: 100vw;
	height: 1000vh;
	z-index: 99999;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-in-out;

	&.active {
		display: block;
		opacity: 1;
		transition: all 0.3s ease-in-out;
		pointer-events: all;
	}
	&.disable {
		display: block;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		pointer-events: none;
	}

	.onboarding-close {
		background: white;
		width: 40px;
		height: 40px;
		border-radius:100%;
		position: absolute;
		top: 50px;
		right: 50px;
			img {
				width: 20px;
				transform: translate(-50%,-50%);
				top:50%;
				left: 50%;
				position: absolute;
			}
		&:hover {
			cursor: pointer;
		}
	}

	.onboaridng-modal {
		overflow: hidden;
		background: white;
		border-radius: 4px;
		position: fixed;
		z-index: 999;
		width: 510px;
		height: 500px;
		padding-bottom: 30px;
		transform: translate(-50%,-50%);
		top:50%;
		left: 50%;
		box-shadow: 0 0 0 1px rgba(67,84,149,.2), 0 2px 8px 0 rgba(19,47,70,.1);
		color: #3e4a5b;

		.swiper-container {
			width: 100%;
			height: 500px;
				.onboarding-media {
					background-size: cover;
					height: 270px;
					position: relative;
						img {
							transform: translate(-50%,-50%);
							top:50%;
							left: 50%;
							width:100px;
							position: absolute;
						}
				}
				.onboarding-content {
					padding: 30px 50px 20px;
						h2 {

						}
						p {

						}
						.btn-secondary {
							width: 100%;
							display: inline-block;
							text-align: center;
							padding: 20px 0px;
							background: #ff7d5a;
						}
				}
		}
	}

}