.outer-container {
	background: #f5f8fa;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	.preview-container {
		width: 60%;
		height: 100%;
		display: inline;
		float: right;
		overflow: scroll;
		transition: all 0.6s ease-in-out;
		background-color: #f5f8fa;
		&.wide {
			width: 100vw;
		}
		.gf-demos-container {
			width: 80%;
			max-width: 700px;
			left: 50%;
			transform: translateX(-50%);
			position: relative;
			height: 100%;
			margin: 130px 0px;
			input#gform_submit_button_5 {
				pointer-events: none;
			}
			/*Form Wrapper Styles*/
			.gform_wrapper {
				background: white;
				padding: 50px;
				border: 1px solid #cbd6e2;
				border-radius: 4px;
				box-shadow: 3px 3px 9px rgba(203,214,226,.5);
			}
			.browser-top {
				position: absolute;
				top: 1px;
				left: 1px;
				width: calc(100% - 2px);
				background: #f5f8fa;
				margin: 0px;
				height: 34px;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}
			.powered-by {
				font-size: 12px;
				text-align: center;
				margin: 30px 0px;
				color: #8a9dac;
				font-weight: 600;
				opacity: 0.7;
				line-height: 60px;
					img {
						display: block;
						margin: 0 auto;
					}
			}
		}
	}
}
