.slide-menu-container {
  //max-width: 600px;
  width: 40%;
  height: 100vh;
  border-right: 1px solid #ccd6e3;
  background-color: white;
  position: fixed;
  left: 0px;
  margin-top: 65px;
  overflow-x: hidden;
  transition: all 0.6s ease-in-out;
  box-shadow: 1px 0 42px 0 #cbd6e2;
    &.menuClose {
      left: calc(-35% + 60px);
    }
    &.menuOpen {
      left: 0px;
    }


  .slider-menu-content-container {
    background: white;
    //border-bottom:1px solid #cbd6e2;
    width: auto;
    padding: 40px 90px 50px 50px;
      .style {
        background: #f5f8fa;
        border: 1px solid #cbd6e2;
        border-radius: 4px;
        width:48%;
        height: 150px;
        margin-bottom: 20px;
        box-shadow: 3px 3px 9px rgba(203, 214, 226, 0.5);
        display: inline-block;
        input {
          border: 1px solid #CCD6E3;
          border-radius: 2px;
          min-height: 38px;
          outline: none;
          font-size: 15px!important;
          margin: 5px 0px;
          box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.02);
          transition: all 0.3s ease-in-out;
          color: black;
          background: white;
          text-indent: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          position: relative;
          width: 80%;
          pointer-events: none;
        }
      }
      h1 {
        color: #3D495A;
        font-family: $primary-font;
        font-size: 30px;
        font-weight: 700;
        line-height: 53px;
      }
      h3 {
        color: #3D495A;
        font-family: $primary-font;
        line-height: 25px;
      }
      p {
        color: #8A9DAB;
        font-family: $primary-font;
        font-size: 16px;
        line-height: 25px;
        font-weight: 300;
      }
      .pcr-button {
        border-radius: 3px;
        //border: 2px solid #ccd6e3;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        overflow: hidden;
        margin: 10px 0px;
          &:before {
            display: none;
          }
        &:focus {
          box-shadow: 0 0 0 5px hsla(0,0%,100%,1),0 0 0 7px currentColor;
        }
      }
      .theme-item {
        background: #f5f8fa;
        margin: 5px 0px;
        padding: 5px 15px;
        border-radius: 5px;
          .theme-item__name {
            color: #8a9dab;
            font-family: $primary-font;
            font-size: 14px;
            font-weight: 700;
            vertical-align: super;
          }
      }

  }
  .slider-menu-css-container {
    //height: 100vh;
    max-width: 100%;
    padding: 50px 90px 90px 50px;
    background: white;
    h1 {
      color: #3D495A;
      font-family: $primary-font;
      font-size: 30px;
      font-weight: 700;
      line-height: 53px;
    }
    h2{
      color: #3D495A;
      font-family: $primary-font;
      font-size: 20px;
      font-weight: 700;
      line-height: 53px;
    }
    h3 {
      color: #3D495A;
      font-family: $primary-font;
      font-size: 19px;
      font-weight: 700;
      line-height: 10px;
    }
    p {
      color: #8A9DAB;
      font-family: $primary-font;
      font-size: 14px;
      line-height: 25px;
      font-weight: 300;
    }
      ul.display-inputs {
        opacity: 1;
        margin: 0px;
        padding: 0px;
           li {
             opacity: 1;
             display: block;
             position: relative;
             border-bottom: 1px solid #e9e9e9;
             padding: 20px 0px;
             margin:0px;
             transform: none;
             label {
               color: #8a9dab;
               font-family: $primary-font;
               font-size: 14px;
               font-weight: 700;
               vertical-align: middle;
               margin-left: 10px;
               display: inline-block;
             }
             input.number {
               border-radius: 3px;
               border: 1px solid #e9e9e9;
               height: 35px;
               width: 45px;
               appearance: none;
               text-align: center;
               font-size: 17px;
             }
           }
      }

  }

  .download-actions {
    border-bottom:1px solid #E9E9E9;
    padding: 50px 98px 50px 50px;
    background: #F6F7F6;
  }

  .slider-trigger-menu-container {
    top:0;
    left: 0;
    width: 60px;
    height: 100vh;
    border-right: 1px solid #cbd6e2;
    border-left: none;
    border-top:none;
    border-bottom: none;
    position: absolute;
    z-index: 99;
    background: white;
    a.triger {
      background: #fff;
    }
    a {
      width:60px;
      height: 60px;
      border-bottom:1px solid #cbd6e2;
      text-align: center;
      text-decoration: none;
      display: block;
      transition: background-color 0.3s ease;

      &:hover {
        background: #F6F7F6;
        cursor: pointer;
      }

      i {
        font-size:19px;
        color: #8A9DAB;
        text-align: center;
        line-height: 60px;
        vertical-align: middle;
      }
      .red {
        color: $love-red;
      }
    }


  }
}
.naccs {
  position: relative;
  height: 100%;
  overflow-x: hidden;
      .menu div {
        padding: 15px 20px 15px 40px;
        margin-bottom: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        position: relative;
        vertical-align: middle;
        font-weight: 700;
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      }
      ul.nacc {
        position: relative;
        height: 0px;
        list-style: none;
        margin: 0;
        padding: 0;
        transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
          li {
            opacity: 0;
            transform: translateX(0px);
            position: absolute;
            list-style: none;
            transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
            width: 100%;
            &.active {
              transition-delay: .3s;
              z-index: 2;
              opacity: 1;
              transform: translateX(50px);
            }
          }
      }
}




.slider-trigger-menu-container .menu div.active {
  background:#f5f8fa;
}

