.profile-container {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 10px;

	.post-data {
		display: inline;
		color: #8A9DAB;
		font-size: 14px;
		line-height: 48px;
		font-weight: 600;

		p {
			margin-right: 15px;
			display: inline;
		}

		i {
			font-size: 13px;
			vertical-align: middle;
			margin-right: 5px;
			margin-left: 10px;
		}
		a {
			color: inherit;
			text-decoration: none;
		}
		.heart {
			color: inherit;
			transition: transform, color 0.3s ease;

			&:hover {
				cursor: pointer;
				transform: scale(1.2);
				color: $love-red;
			}
		}
	}

	.profile-pic {
		height: 49px;
		width: 49px;
		border-radius: 100px;
		overflow: hidden;
		float: left;
	}
}

