/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */
$button-color: #50E3C2;
$button-secondary-color:#847AFF;
$icon-header-color:#8A9DAB;
$love-red:#FF584C;


$font-size-base: 14px;
$line-height-base: 1.3;

$font-size-base-small: 16px;
$line-height-base-small: 1.4;

$shell-max-width: 1180px;

$color-info: #e5f7f9;
$color-light-solid: #f2f0f1;
$color-solid: #e5e3e4;
$color-primary: #01b3c4;
$color-text: #3c3c3b;
$color-danger: #ff4600;
$color-warning: #ffeee9;
$color-light: #ffffff;
$color-dark: #000000;
$color-red: #c60e3b;
$color-grey: #595959;
$color-white: #ffffff;
$color-lightgrey: #9da7b0;
$color-lightergrey: #fafafa;
$color-darkgrey: #2e2e2e;
$color-violet: #261c5f;
$color-blue: #0a3759;


$breakpoint-small-desktop: 1199px;
$breakpoint-tablet-portrait: 991px;
$breakpoint-mobile: 767px;
$breakpoint-mobile-portrait: 374px;


$primary-font: 'Nunito', sans-serif;

/*  Bootstrap  */
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$container-large-desktop: (1180px + $grid-gutter-width) !default;