/**
 * 1. Standard Fields
 * 2. Text Field
 * 3. Drop-Down (Select) Field
 * 4. Paragraph (Textarea) Field
 * 5. Multiple-Choice (Radio) Inputs
 * 6. Checkbox Inputs
 * 7. Labels
 */



/*------------------------------------*\
  1. Standard Fields
\*------------------------------------*/
body .gform_wrapper .gform_body .gform_fields .gfield input[type=text],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=url],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=number],
body .gform_wrapper .gform_body .gform_fields .gfield select,
body .gform_wrapper .gform_body .gform_fields .gfield textarea {
    border: 1px solid black;
    min-height: 50px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    color: black;
    background: white;
    text-indent: 10px;
    width:100%;
    font-family:inherit;
    border-radius:0px;
}
/*------------------------------------*\
  4. Paragraph (Textarea) Field
\*------------------------------------*/
body .gform_wrapper .gform_body .gform_fields .gfield textarea {
    padding: 20px;
}
/*------------------------------------*\
  3. Drop-Down (Select) Field
\*------------------------------------*/
body .gform_wrapper .gform_body .gform_fields .gfield select {
    padding: 20px;
}
/*------------------------------------*\
  7. Labels
\*------------------------------------*/
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_label {
    color: black;
}


/*Advanced Fields*/
/*Advanced Field (multi-field) Container*/
/*Advanced Field – Left Container*/
/*Sub-Label: Advanced Field – Left Container*/
/*Advanced Field – Right Container*/
/*Sub-Label: Advanced Field – Right Container*/
/*Advanced Fields – Full Container*/
/*Sub-Label: Advanced Field – Full Container*/
/*Time – Hours Container*/
/*Time – Hours Input Field*/
/*Sub-Label: Time – Hours*/
/*Time – Minutes Container*/
/*Time – Minutes Input Field*/
/*Sub-Label: Time – Minutes*/
/*Time – AM/PM Container*/
/*Time – AM/PM Selector*/
/*Date – Input Field (Datepicker Option)*/
/*Date – Icon Image (Datepicker Option)*/
/*Date – Month Container*/
/*Date – Month Input Field*/
/*Sub-Label: Date – Month*/
/*Date – Day Container*/
/*Date – Day Field Input*/
/*Sub-Label: Date – Day*/
/*Date – Year Container*/
/*Date – Year Input Field*/
/*Sub-Label: Date – Year*/
/*HTML 5 Fields*/
/*Email Input Field (HTML 5 Option)*/
/*Telephone Input Field (HTML 5 Option)*/
/*Website Input Field (HTML 5 Option)*/
/*Section Breaks*/
/*Section Break Container*/
/*Section Break Title*/
/*Section Break Description*/
/*Captcha Fields*/
/*ReCaptcha Container*/
/*Captcha Container (Really Simple Captcha Option)*/
/*Captcha Image (Really Simple Captcha Option)*/
/*Captcha Input Field (Really Simple Captcha Option)*/
/*Form Footer*/

/*Global Resets*/
ul.gform_fields {
    padding: 0px;
    margin: 0px;
}
li.gfield {
    list-style: none;
    padding: 0px;
    margin: 5px 0;
}
/*Form Wrapper Styles*/
.gform_wrapper {
    background: $form_wrapper;
    padding: 50px;
    border: 1px solid #cbd6e2;
    border-radius: 4px;
    box-shadow: 3px 3px 9px rgba(203,214,226,.5);
}
/*Labels*/
label.gfield_label {
    color:$label_color!important;
}
/*Inputs*/
.ginput_container input[type="text"],
.ginput_container input[type="email"],
.ginput_container input[type="password"],
.ginput_container input[type="number"],
.ginput_container input[type="url"],
.ginput_container textarea,
.ginput_container select{
    border:1px solid $border_colour;
    border-radius:2px;
    min-height:50px;
    font-weight: bold;
    outline: none;
    font-size:15px!important;
    margin: 5px 0px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.02);
    transition: all 0.3s ease-in-out;
    width: 100%;
    color:$text_colour;
    background:$background;
    text-indent: 20px;
    width: 100%!important;
}

.ginput_container input[type="text"]::placeholder,
.ginput_container input[type="email"]::placeholder,
.ginput_container input[type="password"]::placeholder,
.ginput_container input[type="number"]::placeholder,
.ginput_container input[type="url"]::placeholder,
.ginput_container textarea::placeholder,
.ginput_container select::placeholder{
    color:$placeholder;
    padding-top:20px;
}

.ginput_container input[type="text"]:focus,
.ginput_container input[type="email"]:focus,
.ginput_container input[type="password"]:focus,
.ginput_container input[type="number"]:focus,
.ginput_container input[type="url"]:focus,
.ginput_container textarea:focus,
.ginput_container select:focus{
    border-bottom: 3px solid $focus_border;
    box-shadow: none;
    padding: 10px 15px;
    opacity: 1;
    position: relative;
}
.gfield label {
    font-size: 15px;
    color: #3d495a;
    font-weight:700;
}
.gfield_description {
    font-size: 14px;
    color: #8a9dab;
    font-style: italic;
}
.gfield_description a {
    color: #50e3c2;
}
/*Radio and checkbox Button Styles*/
ul.gfield_radio li,
ul.gfield_checkbox li{
    margin-top: 10px!important;
    width: calc(50% - 10px)!important;
    margin-right: 10px!important;
    overflow:unset!important;
    display: inline-block!important;
    position: relative!important;
}
ul.gfield_radio li label,
ul.gfield_checkbox li label {
    width: 100%!important;
    border: 1px solid #dbe1ec;
    margin: 0px!important;
    border-radius: 3px;
    padding: 30px!important;
    background: white;
    transition: .3s all ease-in-out;
    padding-left: 70px!important;
    max-width:unset!important;
    position:relative;
    color:#3d495a;
}
ul.gfield_radio li label:hover,
ul.gfield_radio li input:hover + ul.gfield_checkbox li label,
ul.gfield_checkbox li label:hover,
ul.gfield_checkbox li input:hover + ul.gfield_checkbox li label {
    background:$focus_border;
    color:white;
    border:$focus_border;
    border: 2px solid #fff!important;
}

ul.gfield_radio li label:hover input[type=radio],
ul.gfield_checkbox li label:hover input[type=checkbox]{
    border: 2px solid #fff!important;
}

ul.gfield_radio li input[type=radio],
ul.gfield_checkbox li input[type=checkbox]{
    -webkit-appearance: none;
    border: 2px solid #dbe1ec;
    border-radius: 100%;
    outline:none;
    background:transparent;
    display:inline-block;
    position:absolute;
    z-index: 9;
    left:30px;
    top: 50%;
    margin:0px!important;
    padding:10px!important;
    transform: translateY(-50%);
}
ul.gfield_radio li input[type=radio]:checked,
ul.gfield_checkbox li input[type=checkbox]:checked{
    background:white;
    border:2px solid white;
    color:white!important;
}
ul.gfield_radio li input[type=radio]:checked + label,
ul.gfield_checkbox li input[type=checkbox]:checked + label{
    color:white;
    background:$focus_border;
    border:none;
}
.gform_wrapper .gform_footer input[type=submit] {
    color:white;
    background:$submit_background!important;
    width: 100%!important;
    padding: 25px 0px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}