@charset "UTF-8";

@import "vars";
@import 'partials/body';
@import 'partials/header';
@import 'partials/preview';
@import 'partials/buttons';
@import 'partials/css';
@import 'partials/messages';
@import 'partials/user';
@import 'partials/syntax';
@import 'partials/tabs';
@import 'partials/onboarding';
@import 'partials/swiper';

.theme-item {
	display: block;
	margin-bottom: 10px;
	.pickr {
		display: inline-block;
	}
}

.theme-item__name {
	display: inline-block;
	margin-left: 10px;
	font-size: $font-size-base;
	color: #3D495A;
}
